:host ::ng-deep {
    .mat-elevation-z8 {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        overflow: scroll;

        th {
            font-size: 16px;
            color: white;
            white-space: nowrap;
            overflow: hidden;
            background-color: #0a54a0;
            top: 0;
            position: sticky;
        }

        td {
            border-top: 2px black;
            font-size: 16px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }

        td:last-child {
            background-color: lightgray;
            color: gray;

            div {
                display: flex;
                justify-content: space-between;
                vertical-align: middle;
            }
        }
    }
    .mat-button-copy-clipboard {
        background-color: #0a54a0;
        .mdc-button__label {
            color: white;
            font-weight: bold;
        }
    }
}
