<app-header></app-header>
<div class="flex h-full max-h-[93vh]">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 mt-10 h-full flex-1 overflow-x-hidden overflow-y-scroll p-0 pt-10 shadow-lg sm:mt-0 sm:p-10 sm:pt-10">
        <div class="justify-between sm:flex">
            <!-- <div class="">
                <mat-form-field class="h-20 w-full sm:w-96">
                    <mat-label>Projects</mat-label>
                    <mat-select (valueChange)="eventSelection($event)">
                        <mat-option *ngFor="let data of project" [value]="data.project_name">
                            {{ data.work_order_number + " | " + data.project_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="flex w-max sm:flex">
                <!-- <div>
                    <mat-form-field class="h-20 w-auto">
                        <mat-label>Search Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
                    </mat-form-field>
                </div> -->
                <div class="p-2">
                    <div>
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="picker"
                            style="height: 40px; color: #0a54a0"
                        ></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </div>
                    <div>
                        <mat-date-range-input class="calendar" [formGroup]="range" [rangePicker]="picker">
                            <input
                                matStartDate
                                formControlName="start"
                                placeholder=""
                                hidden
                                (dateInput)="onStartDateChange($event)"
                            />
                            <input matEndDate formControlName="end" placeholder="" hidden />
                        </mat-date-range-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-[40rem] overflow-y-scroll">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="excel-table">
                <ng-container matColumnDef="project_name">
                    <th mat-header-cell *matHeaderCellDef>{{ GENERAL.TABLE_HEADER_NAME.PROJECT }}</th>
                    <td mat-cell *matCellDef="let element" class="cursor-pointer">
                        <div *ngIf="this.hasValue(element.project.project_name)">
                            <input
                                type="text"
                                class="projectInput"
                                list="browsers"
                                name="browser"
                                [value]="element.project.project_name"
                                placeholder="Select Project"
                                (focusout)="postProjects($event)"
                                disabled
                            />
                        </div>
                        <div *ngIf="element.project.project_name === ''">
                            <input
                                type="text"
                                class="projectInput"
                                list="browsers"
                                name="browser"
                                [value]="element.project.project_name"
                                placeholder="Select Project"
                                (focusout)="postProjects($event)"
                            />
                        </div>
                        <datalist id="browsers">
                            <option
                                *ngFor="let opt of projects"
                                [value]="opt.work_order_number + ' | ' + opt.project_name"
                                class="datalist-option"
                            ></option>
                        </datalist>
                    </td>
                </ng-container>
                <ng-container *ngFor="let header of dynamicHeaderName; let i = index" [matColumnDef]="'day_' + i">
                    <th mat-header-cell *matHeaderCellDef>{{ dynamicHeaderName[i] }}</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex align-middle">
                            <div *ngIf="this.hasValue(element.project.project_name); else checkIfEmptyString">
                                <input
                                    type="number"
                                    [value]="getHoursForDate(element.project.timesheetEntries, i)"
                                    #inputField
                                    required
                                    (blur)="
                                        saveEntries(
                                            inputField.value,
                                            element.user_id,
                                            element.project.timesheetEntries,
                                            element.project.id,
                                            i,
                                            $event
                                        )
                                    "
                                />
                            </div>
                            <ng-template #checkIfEmptyString>
                                <div *ngIf="element.project.project_name === ''">
                                    <input
                                        type="number"
                                        [value]="getHoursForDate(element.project.timesheetEntries, i)"
                                        disabled
                                        #inputField
                                        (blur)="
                                            saveEntries(
                                                inputField.value,
                                                element.user_id,
                                                element.project.timesheetEntries,
                                                element.project.id,
                                                i,
                                                $event
                                            )
                                        "
                                    />
                                </div>
                            </ng-template>

                            <div class="descriptionIcon" *ngIf="getHoursForDate(element.project.timesheetEntries, i) !== 0">
                                <mat-icon
                                    class="text-2xl text-black"
                                    (click)="openTimesheetEntryDescription(element.project.timesheetEntries, i)"
                                >
                                    more_vert
                                </mat-icon>
                            </div>
                            <div class="descriptionIcon" *ngIf="getHoursForDate(element.project.timesheetEntries, i) === 0">
                                <mat-icon class="text-2xl text-gray-300">more_vert</mat-icon>
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total Hour</th>
                    <td mat-cell *matCellDef="let element">
                        <div>
                            <p class="text-xl">{{ getTotalHoursForProject(element.project.timesheetEntries) }}h</p>
                            <!-- <mat-icon class="mat-icon-element" (click)="deleteWholeWeek(element.user_id, element.project.id)">
                                close
                            </mat-icon> -->
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9">
                        <span class="font-bold text-gray-950"> No data matching the filter </span>
                    </td>
                </tr>
                <!-- This uses the footer cells defined above -->
            </table>
        </div>
        <div class="block sm:flex sm:justify-between">
            <mat-paginator [pageSizeOptions]="[7, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
            <div class="mt-2 flex w-[100%] justify-between sm:w-auto">
                <button class="add_Btn" mat-raised-button (click)="addRow()">ADD ROW</button>
                <!-- <button class="add_Btn ml-5" mat-raised-button>SAVE</button> -->
                <!-- <button class="add_Btn ml-5" mat-raised-button (click)="exportexcel()">EXPORT</button> -->
            </div>
        </div>
    </div>
</div>
<div class="spinnerContent" *ngIf="isLoading">
    <div class="spinnerClass">
        <mat-spinner></mat-spinner>
    </div>
</div>
