<p class="ml-5 mt-5 text-2xl font-bold text-[#0a54a0]">Edit Employee</p>

<mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="formData" (ngSubmit)="submitForm()" class="formContainer">
            <div class="secondFormContainer w-[100%] sm:w-80">
                <mat-form-field class="example-full-width">
                    <mat-label>Employee Code</mat-label>
                    <input matInput formControlName="employee_code" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department">
                        <mat-option>None</mat-option>
                        <mat-option value="System Developer">System Developer</mat-option>
                        <mat-option value="Marketing Department">Marketing Department</mat-option>
                        <mat-option value="Sales Department">Sales Department</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>classification</mat-label>
                    <mat-select formControlName="classification">
                        <mat-option>None</mat-option>
                        <mat-option value="Regular">Regular</mat-option>
                        <mat-option value="Provisionary">Probationary</mat-option>
                        <mat-option value="Casual">Consultant</mat-option>
                        
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="role">
                        <mat-option>None</mat-option>
                        <mat-option value="superAdmin">Super Admin</mat-option>
                        <mat-option value="admin">Department Manager</mat-option>
                        <mat-option value="user">Employee</mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <mat-form-field class="example-full-width">
                <mat-label>role</mat-label>
                <input matInput formControlName="role" />
            </mat-form-field> -->

                <div class="flex justify-center">
                    <mat-checkbox class="example-margin" formControlName="is_active">Is Active</mat-checkbox>
                </div>

                <div class="mt-4">
                    <button mat-stroked-button class="submitBtn" [disabled]="!formData.valid">Submit</button>
                    <!-- Disable button if form is invalid -->
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
