.table {
    display: static !important;
}

td {}

.td-first {
    text-align: left !important;

}

.th {
    background-color: #0a54a0 !important;
    color: white;
    text-align: right !important;

}

.first_Th {
    border-top-left-radius: 8px !important;
    background-color: #0a54a0 !important;
    color: white;
    text-align: left !important;

}

.last_Th {
    border-top-right-radius: 8px !important;
    background-color: #0a54a0 !important;
    color: white;
    text-align: right !important;

}

.mat-elevation-z8 {
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
}

.mat-date-range-input-separator {
    display: none !important;
}

td {
    border-top: 2px black;
    white-space: nowrap;
    overflow: hidden;
    text-align: right !important;
}

th {
    white-space: nowrap;
    overflow: hidden;
}

.datepick {
    color: black !important;
    height: 30px !important;
    width: 30px !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    max-width: 50px;
    text-align: right;
}





::ng-deep {
    .mat-date-range-input-separator {
        display: none !important;
    }

}