<app-header></app-header>
<div class="flex">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 mt-10 h-[91vh] flex-1 overflow-x-hidden p-0 pt-10 shadow-lg sm:mt-0 sm:p-10 sm:pt-10">
        <div class="mx-40 grid grid-cols-[200px_1fr] gap-4">
            <div>
                <ul>
                    <li (click)="scrollToSection('section1')">Holidays</li>
                    <li (click)="scrollToSection('section2')">Department</li>
                </ul>
            </div>
            <div class="h-96 overflow-y-scroll border-l-2 border-solid border-l-[#0a54a0]">
                <div id="section1" class="h-screen">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequuntur omnis commodi odit labore
                    consequatur neque reprehenderit id aut totam. Pariatur, nisi obcaecati laborum, quam ad ipsa temporibus nulla
                    soluta impedit ratione recusandae odit vero quia suscipit, eligendi vel consectetur! Inventore quos ut
                    eligendi a in maiores saepe quia impedit!
                </div>
                <div id="section2" class="h-screen">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequuntur omnis commodi odit labore
                    consequatur neque reprehenderit id aut totam. Pariatur, nisi obcaecati laborum, quam ad ipsa temporibus nulla
                    soluta impedit ratione recusandae odit vero quia suscipit, eligendi vel consectetur! Inventore quos ut
                    eligendi a in maiores saepe quia impedit!
                </div>
            </div>
        </div>
    </div>
</div>
