<p class="ml-5 mt-5 text-center text-2xl font-bold text-[#0a54a0]">Update Time</p>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="formData" class="formContainer" (ngSubmit)="submitForm()">
    <div class="secondFormContainer w-[100%] sm:w-80 mx-auto">
      <mat-form-field class="example-full-width">
        <mat-label>Employee Code</mat-label>
        <input matInput formControlName="employee_code" placeholder="Enter Employee Code" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name" placeholder="Enter First Name" />
      </mat-form-field>

      <div class="mt-4 text-center">
        <button mat-stroked-button class="submitBtn" [disabled]="!formData.valid">Submit</button>
        <!-- Disable button if form is invalid -->
      </div>
    </div>
  </form>

</mat-dialog-content>
