<div class="text-center mt-3 font-bold text-2xl justify-center">
    <h1>
        Remarks
    </h1>
</div>
<div class="p-2 for-border mx-3 text-justify mt-3 pb-11">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus expedita suscipit error mollitia libero laboriosam ducimus labore impedit, minus repellendus qui! Culpa deleniti quisquam odit minima tempore adipisci iusto ullam! Lorem ipsum, 
    dolor sit amet consectetur adipisicing elit. Quos fugit adipisci ipsam eum praesentium in ut sed aut, velit alias nihil. Rerum quia voluptatum officia, atque labore dolore excepturi at!
    <div class="absolute bottom-0 right-0 mx-2 pb-2">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
    </div>
</div>