<div class="w-[300px] sm:w-[500px]">
    <div class="sm:text-3x1 border-b-2 py-7 pl-4 text-xl text-gray-700">
        <p>DELETE?</p>
    </div>
    <div class="flex justify-center border-b-2 py-7 text-sm sm:text-xl">
        <h1>Are you sure you want to delete entry?</h1>
    </div>
    <div class="py-3 pr-4 text-right">
        <button class="px-7 py-3" mat-dialog-close>CANCEL</button>
        <button class="bg-red-500 px-7 py-3 text-white" (click)="deleteEntry()">DELETE</button>
    </div>
</div>
