:host ::ng-deep{
    .mat-elevation-z8 {
        .table {
            display: static !important;
        }

        th {
            font-size: 16px;
            color: white;
            white-space: nowrap;
            overflow: hidden;
            background-color: #0a54a0;
            white-space: nowrap;
            overflow: hidden;
        }

        th:nth-child(1) {
            border-top-left-radius: 8px;
        }

        th:last-child {
            border-top-right-radius: 8px;
        }

        td {
            border-top: 2px black;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }
    }
    .full-text-on-hover {
        position: relative;
    }
    
    .full-text-on-hover .hover-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        max-width: 100%;
        transition: white-space 1s ease, max-width 1s ease;
    }
    
    .full-text-on-hover:hover .hover-text {
        white-space: normal;
        max-width: none;
    }
    // .status-red {
    //     // background-color: red;
    //     color: red;
    //     font-size: 50px;
    //   }
      
    //   .status-yellow {
    //     // background-color: yellow;
    //     color: yellow;
    //     font-size: 50px;
    //   }
    
    
}