<app-header></app-header>
<div class="flex h-full max-h-[93vh]">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 mt-10 h-full flex-1 overflow-x-hidden overflow-y-scroll p-0 pt-10 shadow-lg sm:mt-0 sm:p-10 sm:pt-10">
        <p class="flex items-start justify-center text-6xl">
            {{ currentTime }}
        </p>
        <p class="flex items-start justify-center text-3xl">
            {{ currentDate }}
        </p>

        <div class="mt-7 flex items-start justify-center space-x-4 text-6xl">
            <button mat-raised-button color="primary" (click)="initialTimeIn()" [disabled]="timeInCon">Time In</button>
            <button mat-raised-button color="primary" (click)="subsequentTimeIn()" [disabled]="fieldInCon">Field In</button>
            <button mat-raised-button color="warn" (click)="subsequentTimeOut()">Field Out</button>
            <button mat-raised-button color="warn" (click)="InitialTimeOut()">Time Out</button>
        </div>

        <div class="static mt-11 overflow-auto">
            <div class="mat-elevation-z8">
                <!-- search bar -->
                <div class="filters block justify-between sm:flex">
                    <mat-form-field class="w-[100%] sm:w-80">
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input class="custom-input" />
                    </mat-form-field>

                    <!-- <mat-form-field class="w-[100%] sm:w-80">
                        <mat-label>Shift Type</mat-label>
                        <mat-select [(value)]="shiftTime" (selectionChange)="selectShift($event)">
                          <mat-option [value]="null">Clear</mat-option>
                          <mat-option *ngFor="let shift of allShiftTIme" [value]="shift.toString()">
                            {{ shift }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->

                    <mat-form-field class="w-[100%] sm:w-80">
                        <mat-label>Date</mat-label>
                        <input
                            matInput
                            [matDatepicker]="picker"
                            placeholder="Choose a date"
                            [(ngModel)]="todayDate"
                            (dateInput)="selectDate($event.value)"
                        />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="max-h-80 overflow-y-auto">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                        <!-- shift name Column -->
                        <ng-container matColumnDef="shift">
                            <th mat-header-cell *matHeaderCellDef>Shift</th>
                            <td mat-cell *matCellDef="let element">{{ element.attendance_type }}</td>
                        </ng-container>

                        <!-- type name Column -->
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>Type</th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                [ngClass]="{
                                    'status-red': element.statuses === 'Initial',
                                    'status-yellow': element.statuses !== 'Initial'
                                }"
                            >
                                {{ element.statuses === "Initial" ? element.statuses : "Field" }}
                            </td>
                        </ng-container>

                        <!-- employee name Column -->
                        <ng-container matColumnDef="employee_name">
                            <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                            <td mat-cell *matCellDef="let element">{{ element.user.first_name }} {{ element.user.last_name }}</td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element">{{ element.date | date: "EEE, MMM d yyyy" }}</td>
                        </ng-container>

                        <!-- Time In Column -->
                        <ng-container matColumnDef="time_in">
                            <th mat-header-cell *matHeaderCellDef>Time In</th>
                            <td mat-cell *matCellDef="let element">{{ element.time_in | date: "h:mm a" : "UTC" }}
                            </td>
                        </ng-container>

                        <!-- Time In Location Column -->
                        <ng-container matColumnDef="time_in_location">
                            <th mat-header-cell *matHeaderCellDef class="p-2">Time In Location</th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="max-w-xs p-2"
                                [ngClass]="'full-text-on-hover'"
                                [attr.title]="element.time_in_location"
                            >
                                <span class="hover-text">
                                    {{ element.time_in_location }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Time Out Column -->
                        <ng-container matColumnDef="time_out">
                            <th mat-header-cell *matHeaderCellDef>Time Out</th>
                            <td mat-cell *matCellDef="let element">
                                <ng-container *ngIf="element.time_out !== '1970-01-01T00:00:00.000Z'">
                                    {{ element.time_out | date: "h:mm a" : "UTC" }}
                                </ng-container>
                                <ng-container *ngIf="element.time_out === '1970-01-01T00:00:00.000Z'"> </ng-container>
                            </td>
                        </ng-container>

                        <!-- Time Out Location Column -->
                        <ng-container matColumnDef="time_out_location">
                            <th mat-header-cell *matHeaderCellDef class="p-2">Time Out Location</th>
                            <td
                                mat-cell
                                *matCellDef="let element"
                                class="max-w-xs p-2"
                                [ngClass]="'full-text-on-hover'"
                                [attr.title]="element.time_out_location"
                            >
                                <span class="hover-text">
                                    {{ element.time_out_location }}
                                </span>
                            </td>
                        </ng-container>
                        <!-- Total Hour Column -->
                        <ng-container matColumnDef="total_hours">
                            <th mat-header-cell *matHeaderCellDef>Total Hour</th>
                            <td mat-cell *matCellDef="let element">{{ element.total_hours }}</td>
                        </ng-container>

                        <!-- status Column -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef>Status</th>
                            <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
                        </ng-container>
                        <!-- remarks column -->
                        <ng-container matColumnDef="remarks">
                            <th mat-header-cell *matHeaderCellDef>Remarks</th>
                            <td mat-cell *matCellDef="let element" class="box"><button mat-raised-button color="primary" (click)="openDialog(element.id, element.comment, element.date, element.user_id)">view</button></td>
                        </ng-container>
                        
                        <!-- Header Row -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <!-- Data Row -->
                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <!-- <mat-paginator
                        [pageSizeOptions]="[1, 10, 15]"
                        showFirstLastButtons
                        aria-label="Select page of periodic elements"
                    >
                    </mat-paginator> -->
                </div>
            </div>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 6, 7]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>
