<p class="ml-5 mt-5 text-2xl font-bold text-[#0a54a0]">Update Holiday</p>

<mat-dialog-content class="mat-typography">
    <div>
        <form [formGroup]="formData" class="formContainer">
            <div class="secondFormContainer w-[100%] sm:w-80">
                <mat-form-field class="example-full-width">
                    <mat-label>Holiday Name</mat-label>
                    <input matInput formControlName="employee_code" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Holiday Name</mat-label>
                    <input matInput formControlName="employee_code" />
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Holiday Name</mat-label>
                    <input matInput formControlName="employee_code" />
                </mat-form-field>
              
              
                <div class="mt-4">
                    <!-- <button mat-stroked-button class="submitBtn" [disabled]="!formData.valid">Submit</button> -->
                    <!-- Disable button if form is invalid -->
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
