<app-header></app-header>
<div class="flex h-full max-h-[93vh]">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 flex-1 overflow-x-hidden overflow-y-scroll p-0 pt-10 shadow-lg sm:p-10 sm:pt-10">
        <div class="grid-container">
            <div class="grid-item">
                <app-wfh-tracking></app-wfh-tracking>
            </div>
            <div class="grid-item">
                <app-project-charging-geoplan></app-project-charging-geoplan>
            </div>
        </div>
    </div>
</div>
