<app-header></app-header>
<div class="flex">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 flex-1 overflow-x-hidden p-0 pt-10 shadow-lg sm:p-10 sm:pt-10">

        <div class="text-5xl">
            <mat-icon>search</mat-icon>
        </div>

        <div class="square flex items-center justify-end p-5" [ngClass]="{'changed': !isOriginalClass}">
            <h1 class="font-bold text-5xl cursor-pointer" (click)="toggleClass()">></h1>
        </div>
    </div>
</div>
