<app-header></app-header>
<div class="flex h-full max-h-[93vh]">
    <div>
        <app-aside></app-aside>
    </div>
    <div class="static z-0 flex-1 overflow-x-hidden overflow-y-scroll p-0 pt-10 shadow-lg sm:p-10 sm:pt-10">
        <div class="grid-container">
            <div class="grid-item">
                <p class="text-xl font-semibold text-[#0a54a0]">Work From Home Tracking</p>
                <app-wfh-tracking></app-wfh-tracking>
            </div>
            <div class="grid-item">
                <p class="text-xl font-semibold text-[#0a54a0]">Top 10 Project Manhours</p>
                <app-project-manhours></app-project-manhours>
            </div>
            <div class="grid-item">
                <p class="text-xl font-semibold text-[#0a54a0]"></p>
                <app-project-charging-geoplan></app-project-charging-geoplan>
            </div>
        </div>
    </div>
</div>
